<template id="headerMenu">
    <div class='mb-3 flex gap-2 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap py-1 px-4'
        data-menu hide-scrollbar>

        <div class='flex gap-4 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap' data-menu
            hide-scrollbar>
            <a href="/" data-trans="home" kll-ctrl="link">home
            </a>
            <a href="/docs" kll-ctrl="link" data-trans="documents">documents
            </a>
            <a href="/words" kll-ctrl="link" data-trans="words">words
            </a>
            <a href="/sync" kll-ctrl="link" data-trans="sync">sync</a>
            <a href="/legal" kll-ctrl="link" data-trans="legalMention">legal</a>

        </div>
    </div>
</template>